body {
    width: 600px;
    margin: 40px auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6ecf0;
    color :black ;
}

#nav {
    line-height:30px;
    background-color:#98D8FF;
    height:600px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}

