<!DOCTYPE html>
<html>
<head>
    <title>Self-label Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tweet_box.css') }}">
    <style>
    #nav {
        line-height:30px;
        background-color:#eeeeee;
        height:300px;
        width:100px;
        float:left;
        padding:5px;	      
    }
    #section {
        width:350px;
        float:left;
        padding:10px;	 	 
    }
    </style>
</head>

<body>
    <div id="nav">
        Label<br>
        Home<br>
        MyDash<br>       
    </div>

    <form method="POST">
    <div id="section">
        {% include 'tweetbox-toolbar-area.html'%}

        {%for i in range(0, len)%}
            <p>{{i}}</p>
            <p>
                {{result[i]['reply']['reply']}}
            </p>
            <p>
                {{result[i]['context']}}
            </p>
            <p>
                {{result[i]['reply']['uname']}}
            </p>
            <p>
                <div class="radio">
                    <label><input type="radio" id="Mute" name="{{'mute' + i|string}}" value="0">Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" id="Mute" name="{{'mute' + i|string}}" value="1">No</label>
                </div>
            </p>  
        {%endfor%}
    <input type=submit value=Submit>
    </form>
    </div>
</body>

<script>
    document.addEventListener('submit', function(e) {
        console.log(e);
    })
</script>

</html>
