<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
  {% if session_user %}
  <div class="navbar">
    <div>Logged in as: <strong>{{ session_user.username }}</strong></div>
    <div>
      <form class="navbar-logout-button" action="/logout" method="post">
        <input type="submit" value="Logout"/>
      </form>
      <a href="{{ '/{}'.format(session_user.username) }}" ><button>Profile</button></a>
    </div>
  </div>
  {% endif %}
  {% block content %}{% endblock %}
</body>

</html>
