<!DOCTYPE html>
<html>
<head>
    <title>Muted Users Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>

<h2>Self-label </h2>

<body>
    <div id="section">
        <h2 class="serif"> Hi {{username}}! </h2>
        
        <div class="table-responsive">
        <table id="selfLabel">
                <thead>
                    <tr>
                        <th> Muted Users We make for you</th>
                    </tr>
                </thead>
            <tbody>
            <tr>
            {% for i in range(len) %} 
              <td>{{result[i]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
</body>
  
</html>
