<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <title>Register</title>
  </head>
  <body>
      <h2>Please Register</h2>
      <h4>
          <strong>Notice:</strong>
          The username should match with your Twitter Screen Name (the one after the '@' sign). Thank you!
      </h4>
     <form method="POST">
         <table>
             <tr>
                 <td>Username:</td>
                 <td><input type="text" name='username' placeholder="Username"></td>
             </tr>
             <tr>
                 <td>Password:</td>
                 <td><input type="password" name='password' placeholder="Password"></td>
             </tr>
             <tr>
                 <td>Confirm Password:</td>
                 <td><input type="password" name='password-repeat' placeholder="Repeat Password"></td>
             </tr>
             <tr>
                 <td><input type="submit" value="Registration"></td>
             </tr>
         </table>
     </form>
     {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
 </body>
 </html>
